<!DOCTYPE html>
<html>
    <head>
        <title><%= hostName %>님의 할리갈리 방 </title>
    </head>
    <body>
        <div id="gameDiv">
        </div>
        <button id="bell" style="width: 100px; height: 100px;">종</button>
        <button id="myDeck" style="width: 50px; height: 50px;">내 덱</button>
        <div id="playerStat">    
        </div>
        <div id="notice">  
        </div>
    </body>
    <script>
        var roomNum = <%= roomNum %>;
        var hostName = "<%= hostName %>";
        var player = "<%= player.name %>";
    </script>
    <script src="../../javascripts/jquery-3.6.0.min.js"></script>
    <script src="../../javascripts/socket.io.js"></script>
    <script src="../../javascripts/hlglGame.js"></script>
</html>