<!DOCTYPE html>
<html>
    <head>
        <title>GAME LOGIN</title>
    </head>
    <body>
        <form action="../game/check" method="POST">
            <input type="text" name="username" placeholder="닉네임입력">
            <input type="submit">
        </form>
    </body>
    <script src="../javascripts/socket.io.js"></script>
</html>