html {
    width: 100%;
    height: 100%;

    overflow: hidden;
}
body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;
}

.hamburger {
    position: absolute;
    z-index: 4;
    display: block;
}

#menu {
    position: absolute;
    
    width: 150px;
    height: 100%;
    padding: 10px;

    z-index: 1;
    font-size: 20px;

    background-color: blue;
    display: none;
}


#backBoard {
    width: 100%;
    height: 100%;

    position: relative;

    background-color: darkgrey;
}

#logo {
    position: absolute;
    
    width: 100%;

    text-align: center;

    background-color: teal;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameList {
    position: absolute;

    width: 50%;
    height: 60%;

    overflow-y: scroll;

    top: 10%;
    left: 25%;
}

#gameList * {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#createRoomDiv {
    position: absolute;

    text-align: center;

    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */
footer {
    position: absolute;

    width: 100%;
    height: 5%;

    top: 95%;

    font-size: 8px;
    text-align: center;
}